<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vejret på Læsø</title>
    <meta
      name="description"
      content="Vejret på Læsø - Se de seneste vejroplysninger fra vejrstationen på Vesterø Havn."
    />
    <base href="/" />
  </head>
  <body>
    <app-root></app-root>
  </body>
</html>
